{% extends "base.html.tera" %}
{% block title %}tachyon.cx - cisco{% endblock title %}
{% block topic %}tachon.cx - cisco{% endblock topic %}
{% block body %}
<main class="main">
  <section class="flex five">
    <aside class="full fifth-1000">
        <h3>Contents</h3>
        SSH Hardening
    </aside>

    <article class="full four-fifth-1000">
    </article>
  </section>
   
{% endblock body %}